<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a href="/"><img src="http://www.clker.com/cliparts/f/U/g/9/G/B/cartoon-elephant-bw-hi.png" class="brand" height="40px" width="40px" /></a>
      <a class="brand" href="/">Ivory Tower Donut Shop</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Donuts", items_path %></li>
          <li><%= link_to "Orders", orders_path %></li>
          <li><%= link_to "Categories", categories_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
            <a href="/">
            View Cart
            <span class="badge">0</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>