<%- model_class = Item -%>
<div class="page-header">
  <h1><%= @item.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= @item.description %></dd>
  <dt><strong>Categories:</strong></dt>
  <dd><%= @item.display_categories %></dd>
  <dt><strong>Price:</strong></dt>
  <dd><%= @item.unit_price_dollars %></dd>
</dl>
